---
import Background from "@components/Background.astro";
import Container from "@components/Container.astro";
import FooterWrapper from "@components/FooterWrapper.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blog");
---

<Layout title="Blog" description="Jerred Shepherd's blog">
  <FooterWrapper>
    <Navbar />
    <Background extraCss="bg-black">
      <Container width="narrow">
        <ul>
          {
            blogEntries
              .sort((left, right) => right.data.date.getTime() - left.data.date.getTime())
              .map((blogPostEntry) => (
                // eslint-disable-next-line @typescript-eslint/no-unsafe-return -- no idea why this is being picked up
                <div class={`bg-white dark:bg-black dark:text-white text-black p-4 rounded-md mt-6 mb-6 text-xl`}>
                  <div>
                    <a
                      href={`/blog/${blogPostEntry.slug}`}
                      class={`underline hover:no-underline font-semibold dark:hover:bg-white dark:hover:text-black hover:bg-black hover:text-white p-1 inline`}
                    >
                      {blogPostEntry.data.title}
                    </a>
                    {blogPostEntry.data.isDraft ? "(Draft)" : ""}
                    {blogPostEntry}
                  </div>
                  <time datetime={blogPostEntry.data.date.toISOString()} class="ml-1 text-sm">
                    {blogPostEntry.data.date.toDateString()}
                  </time>
                </div>
              ))
          }
        </ul>
      </Container>
    </Background>
  </FooterWrapper>
</Layout>
