---
interface Props {
  title?: string;
  description?: string;
  openGraphImage?: string;
  openGraphType?: string;
}

const { url } = Astro;

const openGraphType = Astro.props.openGraphType ? Astro.props.openGraphType : "website";
const openGraphImage = Astro.props.openGraphImage ? Astro.props.openGraphImage : `${url.toString()}openGraph.png`;
const title = Astro.props.title ? Astro.props.title : "Jerred Shepherd";
const description = Astro.props.description;

import "@styles/shiki.css";
import "@styles/background.css";
import "@styles/commit-mono.css";
import "@styles/prose.scss";
import "@fontsource/nunito";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000000" />

    <!-- https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Jerred Shepherd" />
    <meta property="og:type" content={openGraphType} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={openGraphImage} />

    <link href="https://github.com/shepherdjerred" rel="me" />
    <link href="mailto:auth@sjer.red" rel="me" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
