---
interface Props {
  title?: string;
  description?: string;
}

const { url } = Astro;

const title = Astro.props.title ? `${Astro.props.title} | Jerred Shepherd` : "Jerred Shepherd";
const description = Astro.props.description;

import "@fontsource/fira-code";
import "@fontsource/nunito";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Jerred Shepherd's personal website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:image" content="/og.svg" />

    <link rel="me" href="https://mastodon.social/@shepherdjerred" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
