---
import RSVP from "@components/RSVP.astro";
import Base from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { EventSchema } from "src/content/schemas/event";

interface Props {
  entry: CollectionEntry<"events">;
}

export async function getStaticPaths() {
  const eventEntries = await getCollection("events");
  return eventEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, description, date, cost, location } = EventSchema.parse(entry.data);
const { Content } = await entry.render();
---

<Base title={title} description={description ?? title} openGraphType="article">
  <div class="flex place-content-center bg-neutral-100 text-black dark:bg-black dark:text-white">
    <article class="prose mt-10 mb-10 ml-8 mr-8 dark:prose-invert">
      <hgroup>
        <h1 class="m-0">{title}</h1>
        <small>
          <time datetime={date.toISOString()}>{date.toDateString()} </time>
        </small>
        <p>
          {description}
        </p>
      </hgroup>
      <div class="bg-gray-50 sm:rounded-lg dark:bg-gray-900">
        <div class="px-4 py-5 sm:p-6">
          <h3 class="m-0 text-base">Where: <a href={location.url}>{location.text}</a></h3>
          <p class="m-0 mt-4">
            {location.parking}
          </p>
        </div>
      </div>
      {
        cost && (
          <h2>
            <span>Cost: {"$" + cost}</span>
            <span class="text-sm">
              (Venmo <a href="https://account.venmo.com/u/shepherdjerred">@shepherdjerred</a>)
            </span>
          </h2>
        )
      }
      <Content />
      <RSVP />
    </article>
  </div>
</Base>
